body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

.header {
  width: 100%;
}

.top-bar {
  background: #252525;
  height: 40px;
  border-top: 3px solid rgb(40, 250, 33);
  display: flex;
}
.contects-info {
  display: flex;
  margin: 0;
  text-align: center;
  padding: 10px;
}

.contects-info li {
  list-style: none;
  color: white;
  padding-left: 5px;
  font-size: 14px;
  font-weight: bold;
}

.contects-info li i {
  color: #00b16a;
  font-size: 14px;
  padding-right: 5px;
}
.contects-info li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.social-icons ul {
  display: flex;
}

.social-icons ul li {
  list-style: none;
}


.Main-Container{
  /* background-color: aqua; */
  height: 700px;
  width: 100%;
  
position: absolute;
}

.heading{
  text-align: center;
  margin-top: 55px;
}

.heading h1{
  font-size: 40px;
  font-weight: bolder;
  /* background-color: honeydew; */
}

.heading h1 span{
  color: green;
}


.for-hr hr{
  width: 150px;
}

.Pragraf{
  text-align: center;
}

.Pragraf p{
  font-size: 21px;
  /* background-color: honeydew; */
  margin-right: 80px;
  margin-left: 80px;
}

.for-image{
  /* background-color: whitesmoke; */
  margin-top: 130px;
  height: 350px;
  width: 100%;
  position: absolute;
}

.row{
  /* background-color: violet; */
  height: 300px;
}
