body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

.Main-Container {
  /* background-color: aqua; */
  height: 700px;
  width: 100%;

  position: absolute;
}

.heading {
  text-align: center;
  margin-top: 55px;
}

.heading h1 {
  font-size: 40px;
  font-weight: bolder;
  /* background-color: honeydew; */
}

.heading h1 span {
  color: green;
}

.for-hr hr {
  width: 150px;
}

.Pragraf {
  text-align: center;
}

.Pragraf p {
  font-size: 21px;
  /* background-color: honeydew; */
  margin-right: 80px;
  margin-left: 80px;
}

.for-image {
  /* background-color: whitesmoke; */
  margin-top: 130px;
  height: 350px;
  width: 100%;
  position: absolute;
}

.topbar {
  background: #252525;
  height: auto;
  text-align: center;
}

.contact-info {
  height: auto;
}

.contact-info li {
  list-style: none;
  font-size: 13px;
  color: white;
  font-weight: bold;
}
.contact-info li a {
  text-decoration: none;
  color: white;
}

.contact-info li i {
  color: #00b16a;
  padding: 5px;
}

.contact-info ul {
  display: flex;
  padding: 0;
  margin: 0;
  height: 40px;
  align-items: center;
}

.container {
  max-width: 1070;
}

.social-info ul {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 40px;
}

.social-info ul li {
  font-size: 15px;
  list-style: none;
  padding: 20px;
}
.social-info ul li a {
  text-decoration: none;
  color: white;
}

.social-info ul li a:hover {
  transition: 0.5s;
  color: #00b16a;
}

.mob-nav {
  display: none;
}

.our-info {
  display: block;
}

.logo img {
  height: 70px;
  padding: 5px;
}

.dek-nav-section ul {
  padding: 0;
  margin: 0;
  display: flex;
  height: 80px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.dek-nav-section ul li {
  list-style: none;
  padding-left: 15px;
}

.dek-nav-section ul li a {
  text-decoration: none;
  font-size: 15px;
  color: black;
  font-weight: 500;
  text-transform: uppercase;
}

.dek-nav-section ul li a:hover {
  color: #00b16a;
}

.dek-nav-section > nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
